<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tc.jhartman.pl</string>
	<key>connections</key>
	<dict>
		<key>0B803529-84F0-4B15-AB68-B2CEABE0BA7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E848963-4B5F-48EF-B016-4DFDF0F49D52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9B69DA15-0F06-4686-9388-5C6516CC5D4C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>775298B5-87CE-4958-AE52-3FEEC0CCEEF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AE610747-6673-46A9-B495-552BFD4BBF2B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>959D4A30-8309-40AB-9C18-202E9DE1AFC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>775298B5-87CE-4958-AE52-3FEEC0CCEEF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBB6A766-E658-4CCF-9BB8-3DF0B0D0E0A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BDD4CCF-4D55-4ABC-83AC-680D362D12B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B803529-84F0-4B15-AB68-B2CEABE0BA7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>959D4A30-8309-40AB-9C18-202E9DE1AFC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0208042E-BB77-4369-8A05-416BE601F18B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jarek Hartman</string>
	<key>description</key>
	<string>Calculations for date, time and durations</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Time and Date Calculator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.buymeacoffee.com/jhartman</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9E848963-4B5F-48EF-B016-4DFDF0F49D52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"


bin/timecalculator "{query}"

# Unidentified develoeper error
# Reuqires user permissions
if [[ "$?" == 137 ]]
then
	open bin
	echo "permission"
fi

echo $DATE_FORMAT &gt;&gt; /tmp/td.log
echo "&gt;$query&lt;" &gt;&gt; /tmp/td.log</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Time and date calculations</string>
				<key>title</key>
				<string>Time Calculator</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8BDD4CCF-4D55-4ABC-83AC-680D362D12B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>Open URL</string>
						<key>uid</key>
						<string>9B69DA15-0F06-4686-9388-5C6516CC5D4C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>permission</string>
						<key>outputlabel</key>
						<string>Permission</string>
						<key>uid</key>
						<string>AE610747-6673-46A9-B495-552BFD4BBF2B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Show diff</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0B803529-84F0-4B15-AB68-B2CEABE0BA7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>You need to accept this binary</string>
				<key>title</key>
				<string>User action required</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DBB6A766-E658-4CCF-9BB8-3DF0B0D0E0A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>775298B5-87CE-4958-AE52-3FEEC0CCEEF1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Time copied to clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0208042E-BB77-4369-8A05-416BE601F18B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>959D4A30-8309-40AB-9C18-202E9DE1AFC2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo -n $query

echo "zzz $query" &gt;&gt; /tmp/td.log</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Time and Date Calculator workflow

Time component formats `&lt;time&gt;`:
 - [X] `&lt;ss&gt;`
 - [X] `&lt;mm:ss&gt;`
 - [X] `&lt;hh:mm:ss&gt;`

Date component formats `&lt;date&gt;`:
 - [ ] If configured `DD/MM/YYYY`
     - `&lt;DD&gt;/&lt;MM&gt;`
     - `&lt;DD&gt;/&lt;MM&gt;/&lt;YYYY&gt;`
 - [ ] If configured `MM/DD/YYYY`
     - `&lt;MM&gt;/&lt;DD&gt;`
     - `&lt;MM&gt;/&lt;DD&gt;/&lt;YYYY&gt;`

Compount duration component `&lt;period&gt;`:
 -  [X] `&lt;d&gt;d&lt;h&gt;h&lt;m&gt;m&lt;s&gt;s` - in any order
 -  [X] Any component can be ommited, e.g. `1d4h`

Number component `&lt;number&gt;` represents:
 -  [X] Number of seconds `60`
 -  [ ] A number for Span calculations `*` or `/`


## Valid queries
- Duration span (difference) where `&lt;OP&gt;` can be `-` or `+`:
    - [X] `td &lt;time&gt; &lt;OP&gt; &lt;time&gt;` - time difference
    - [ ] `td &lt;date&gt; &lt;time&gt; &lt;OP&gt; &lt;date&gt; &lt;time&gt;` - time difference
- Span calculations, where `&lt;OP&gt;` can be `-` or `+`:
    - [X] `td &lt;time&gt; &lt;OP&gt; &lt;time&gt;`
    - [ ] `td &lt;date&gt; &lt;time&gt; &lt;OP&gt; &lt;time&gt;`
    - [X] `td &lt;time&gt; &lt;OP&gt; &lt;period&gt;`
    - [ ] `td &lt;date&gt; &lt;time&gt; &lt;OP&gt; &lt;period&gt;`
- Span calculations, where `&lt;OP&gt;` can be `*` or `/`:
    - [ ] `td &lt;time&gt; &lt;OP&gt; &lt;number&gt;`


## Output:
- [X] `&lt;d&gt;` days, `&lt;h&gt;` hours, `&lt;m&gt;` minutes, and `&lt;s&gt;` seconds
- [ ] `hh:mm:ss` (or `&lt;hh&gt;h&lt;mm&gt;m&lt;ss&gt;s` ?) -- perhaps optional (with AM/PM)
- [X] `&lt;d.ddd&gt;` days
- [X] `&lt;h.hh&gt;` hours
- [X] `&lt;m.mm&gt;` minutes
- [X] `&lt;s&gt;` seconds
- If `&lt;date&gt;` specified, a date will be returned
    - [ ] `DD/MM/YYYY hh:mm:ss`, or
    - [ ] `MM/DD/YYYY hh:mm:ss`

Configurations:
- Date formats
    - `DD/MM/YYYY`
    - `DD/MM`
    - `MM/DD/YYYY`
    - `MM/DD`</string>
	<key>uidata</key>
	<dict>
		<key>0208042E-BB77-4369-8A05-416BE601F18B</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>0B803529-84F0-4B15-AB68-B2CEABE0BA7C</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>775298B5-87CE-4958-AE52-3FEEC0CCEEF1</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>8BDD4CCF-4D55-4ABC-83AC-680D362D12B7</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>959D4A30-8309-40AB-9C18-202E9DE1AFC2</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>9E848963-4B5F-48EF-B016-4DFDF0F49D52</key>
		<dict>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>DBB6A766-E658-4CCF-9BB8-3DF0B0D0E0A4</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tc</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>A keyword for search. Default: tc</string>
			<key>label</key>
			<string>Search keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>pairs</key>
				<array>
					<array>
						<string>DD/MM/YYYY</string>
						<string>1</string>
					</array>
					<array>
						<string>DD/MM</string>
						<string>2</string>
					</array>
					<array>
						<string>MM/DD/YYYY</string>
						<string>3</string>
					</array>
					<array>
						<string>MM/DD</string>
						<string>4</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Date format for input</string>
			<key>label</key>
			<string>Date format</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>DATE_FORMAT</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>http://jhartman.pl/tc</string>
</dict>
</plist>
